<app-navbar></app-navbar>

<div class="container">
  <div class="row align-items-center home-container">
    <div class="col-md-6">
      <p class="text">Welcome to JiBi, your secure and convenient digital wallet solution for seamless transactions. With our user-friendly platform, managing your finances has never been easier.</p>
      <button routerLink="/login" type="button" class="btn btn-primary">Login</button>
    </div>
    <div class="col-md-6">
      <img src="https://i.pinimg.com/564x/5c/92/bb/5c92bb5cc8a586843d47f9bf3d26a01d.jpg" alt="Left Image" class="img-fluid rounded-left">
    </div>
  </div>
  <div class="row align-items-center second-container">
    <div class="col-md-6">
      <img src="https://static.vecteezy.com/system/resources/previews/000/684/243/non_2x/online-payment.jpg" alt="Bottom Image" class="img-fluid rounded-right">
    </div>
    <div class="col-md-6 text-container">
      <p class="text">Manage Your Payments Conveniently only by using your phone. Join us today and unlock a world of possibilities at your fingertips.</p>
    </div>
  </div>
</div>

<app-footer></app-footer>
